<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <form id="form_addInfo">
        <div class="form-group row">
            <label for="building" class="col-sm-2 col-form-label">물건명</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="building" placeholder="물건명(현장이름)">
            </div>
        </div>
        <div class="form-group row">
            <label for="building" class="col-sm-2 col-form-label">상태</label>
            <div class="col-sm-10">
                
            </div>
        </div>
        <div class="form-group row">
            <label for="building" class="col-sm-2 col-form-label">메모</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="validationTextarea" placeholder="Required example textarea"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="building" class="col-sm-2 col-form-label">옵션</label>
            <div class="col-sm-10">
                    <div class="form-check-area">
                        <input type="checkbox" class="form-check-input" id="option1">
                        <label class="form-check-label" for="option1">1룸</label>
                    </div> 

                    <div class="form-check-area">
                        <input type="checkbox" class="form-check-input" id="option2">
                        <label class="form-check-label" for="option2">1.5룸</label>
                    </div>

                    <div class="form-check-area">
                        <input type="checkbox" class="form-check-input" id="option3">
                        <label class="form-check-label" for="option3">2룸</label>
                    </div>
                        <div class="form-check-area">
                        <input type="checkbox" class="form-check-input" id="option4">
                        <label class="form-check-label" for="option4">3룸</label>
                    </div>
                        <div class="form-check-area">
                        <input type="checkbox" class="form-check-input" id="option5">
                        <label class="form-check-label" for="option5">4룸</label>
                    </div>
                        <div class="form-check-area">
                        <input type="checkbox" class="form-check-input" id="option6">
                        <label class="form-check-label" for="option6">복층</label>
                    </div>
                        <div class="form-check-area">
                        <input type="checkbox" class="form-check-input" id="option7">
                        <label class="form-check-label" for="option7">테라스</label>
                    </div>
                        <div class="form-check-area">
                        <input type="checkbox" class="form-check-input" id="option8">
                        <label class="form-check-label" for="option8">월세</label>
                    </div>
                        <div class="form-check-area">
                        <input type="checkbox" class="form-check-input" id="option9">
                        <label class="form-check-label" for="option9">전세</label>
                    </div>
                        <div class="form-check-area">
                        <input type="checkbox" class="form-check-input" id="option10">
                        <label class="form-check-label" for="option10">구옥</label>
                    </div>

            </div>
        </div>
        <div class="form-group row">
            <label for="building" class="col-sm-2 col-form-label">사진</label>
            <div class="col-sm-10">
                <input type="file" class="custom-file-input" id="validatedCustomFile">
                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
            </div>
        </div>
        
        <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>